.app-animation {
    &--bounce {
        animation: app-bounce 250ms forwards;
    }

    &--slide-in {
        animation: app-slide-in 250ms forwards;
    }

    &--slide-out {
        animation: app-slide-out 250ms forwards;
    }
}

@keyframes app-bounce {
    0% {
        transform: scale(0.95);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes app-slide-in {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes app-slide-out {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}
