<div class="complex-modal">
    <label>Subject</label>
    <input type="text" class="app-input" placeholder="" />

    <label>Name</label>
    <input type="text" class="app-input" placeholder="" />

    <label>Company name</label>
    <input type="text" class="app-input" placeholder="" />

    <label>Phone</label>
    <input type="text" class="app-input" placeholder="" />

    <label>Email address</label>
    <input type="text" class="app-input" placeholder="" />

    <label>Message</label>
    <textarea class="app-input"></textarea>

    <button class="app-button app-button--primary">Send</button>
    <button class="app-button app-button--secondary">Abort</button>
</div>
