<div class="complex-modal">
    <div class="complex-modal__item">
        <label class="complex-modal__label">Subject</label>
        <input type="text" class="app-input" placeholder="Subject" />
    </div>

    <div class="complex-modal__item">
        <label class="complex-modal__label">Name</label>
        <input type="text" class="app-input" placeholder="Name" />
    </div>

    <div class="complex-modal__item">
        <label class="complex-modal__label">Company name</label>
        <input type="text" class="app-input" placeholder="Company name" />
    </div>

    <div class="complex-modal__item">
        <label class="complex-modal__label">Phone</label>
        <input type="text" class="app-input" placeholder="Phone" />
    </div>

    <div class="complex-modal__item">
        <label class="complex-modal__label">Email address</label>
        <input type="text" class="app-input" placeholder="Email address" />
    </div>

    <div class="complex-modal__item">
        <label class="complex-modal__label">Message</label>
        <textarea class="app-input" placeholder="Message"></textarea>
    </div>

    <div class="complex-modal__buttons">
        <button class="app-button app-button--secondary">Abort</button>
        <button class="app-button app-button--primary">Send email</button>
    </div>
</div>
