.app {
    height: 100%;
    padding: 1rem;

    &__header {
        margin: 0;
    }

    &__section {
        margin-top: 1rem;

        .app-button {
            display: inline-block;
            margin: 1rem 1rem 0 0;
        }
    }

    &__toast-container {
        overflow-y: scroll;
        position: fixed;
        right: 0;
        bottom: 0;
        max-height: 100%;

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
