<div class="app" #appContainerRef>
    <h1 class="app__header">Angular Ui Services</h1>

    <div class="app__section">
        <h3 class="app__header">Dialogs</h3>
        <button class="app-button app-button--primary" (click)="onCreateAlertDialog()">
            Alert dialog
        </button>
        <button class="app-button app-button--primary" (click)="onCreateConfirmDialog()">
            Confirm dialog
        </button>
        <button class="app-button app-button--primary" (click)="onCreatePromptDialog()">
            Prompt dialog
        </button>
        <button class="app-button app-button--primary" (click)="onCreateSelectDialog()">
            Select dialog
        </button>
    </div>

    <div class="app__section">
        <h3 class="app__header">Modals</h3>
        <button class="app-button app-button--primary" (click)="onCreateSimpleModal()">
            Simple Modal
        </button>
        <button class="app-button app-button--primary" (click)="onCreateComplexModal()">
            Complex Modal
        </button>
    </div>

    <div class="app__section">
        <h3 class="app__header">Toasts</h3>
        <button class="app-button app-button--primary" (click)="onCreateInfoToast()">
            Information Toast
        </button>
        <button class="app-button app-button--primary" (click)="onCreateSuccessToast()">
            Success Toast
        </button>
        <button class="app-button app-button--primary" (click)="onCreateWarningToast()">
            Warning Toast
        </button>
        <button class="app-button app-button--primary" (click)="onCreateErrorToast()">
            Error Toast
        </button>
    </div>

    <div class="app__toast-container">
        <ng-template #appToastContainerRef></ng-template>
    </div>
</div>
