<div
    class="app-dialog-backdrop app-thin-scrollbars"
    (click)="onBounceAnimation($event)"
    #dialogBackdropRef>
    <div class="app-dialog app-animation--bounce" #dialogRef>
        <div class="app-dialog__header">
            <h2 class="app-dialog__title">{{ options.title }}</h2>
            <button
                class="app-dialog__close app-button app-button--icon"
                (click)="onCloseButtonClick()">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="36"
                    height="36"
                    fill="currentColor"
                    viewBox="0 0 16 16">
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>
        </div>
        <div class="app-dialog__content" [innerHTML]="options.content"></div>
        <div class="app-dialog__actions">
            <select *ngIf="options.isSelect" class="app-select" (input)="onSelectChange($event)">
                <ng-container *ngFor="let option of options.options">
                    <option value="{{ option.value }}" [selected]="option.value === options.value">
                        {{ option.key }}
                    </option>
                </ng-container>
            </select>
            <input
                *ngIf="options.isPrompt"
                type="text"
                class="app-input"
                value="{{ options.value }}"
                placeholder="Enter value"
                style="margin-bottom: 1rem"
                (input)="onValueChange($event)" />
            <button
                *ngIf="options.isConfirm || options.isPrompt || options.isSelect"
                type="button"
                class="app-button app-button--medium"
                [ngClass]="options.isDanger ? 'app-button--danger' : 'app-button--primary'"
                (click)="onYesButtonClick()">
                {{ options.yesButtonText }}
            </button>
            <button
                *ngIf="options.isConfirm || options.isPrompt || options.isSelect"
                type="button"
                class="app-button app-button--secondary app-button--medium"
                (click)="onCancelButtonClick()">
                {{ options.cancelButtonText }}
            </button>
            <button
                *ngIf="options.isAlert"
                type="button"
                class="app-button app-button--primary app-button--medium"
                (click)="onOkButtonClick()">
                {{ options.okButtonText }}
            </button>
        </div>
    </div>
</div>
